* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: cornflowerblue;
  margin-bottom: 20px;
  padding: 20px 0;
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: cornflowerblue;
  padding: 30px 0;
  flex-shrink: 0;
}

ul {
  list-style-type: none;
}

.modal {
  background-color: cornsilk;
  border: 1px solid black;
  cursor: pointer;
  left: 50%;
  padding: 40px 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.contacts li {
  cursor: pointer;
}

.navs {
  display: flex;
}

.navs--justify {
  justify-content: space-between;
}

.navs--items li {
  margin-left: 14px;
}

.contact-field {
  margin: 16px 0;
}

.contact-field span {
  display: inline-block;
  min-width: 100px;
}

.btn {
  background-color: crimson;
  border: none;
  color: white;
  margin-top: 26px;
  padding: 10px 18px;
}